$phone: 600px;
$tabletMinWidth: 601px;
$laptopMinWidth: 960px;
$desktopMinWidth: 1264px;
$ultrawideMinWidth: 1904px;

@mixin xsOnly {
  @media (max-width: $phone) {
    @content;
  }
}

@mixin smOnly {
  @media (min-width: $tabletMinWidth) and (max-width: $laptopMinWidth - 1) {
    @content;
  }
}

@mixin mdOnly {
  @media (min-width: $laptopMinWidth) and (max-width: $desktopMinWidth - 1) {
    @content;
  }
}

@mixin lgOnly {
  @media (min-width: $desktopMinWidth) and (max-width: $ultrawideMinWidth - 1) {
    @content;
  }
}

@mixin ultraOnly {
  @media (min-width: $ultrawideMinWidth) {
    @content;
  }
}
